@import  url( 'https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap' );

*{
    margin: 0;
    padding: 0;
}

body{
    background-color:white;
    max-width: 100%;
    
}

.container{
    width: vmax;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formulario{
    width: 48%;
    margin: 0 auto;
   background-color: white;
}

form{
    
    width: 80%;
    position: relative;
    margin: 20px auto ;
    padding: 20px;
    flex-wrap: wrap;
    
    
}

.header {
    padding: 15px ;
}

.header h2 {
    font-weight: 600;
    color:black;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.header p{
    margin-top: 8px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

.header a{
    text-decoration: none;
   
}

.form-control {
    margin-bottom: 15px;
    padding-bottom: 10px;
    position: relative;
    
    
    
    
}
.form-control label {
    display: inline-block;
    margin-bottom: 8px;
    color:black;
    font-weight: lighter;
    font-family: 'Poppins',sans-serif;
}



.form-control input {
    border: 2px solid #3E445B;
    border-radius: 15px;
    outline: 0;

    display: inline-block;

    font-size: 14px;

    width: 95%;
    padding: 10px;
    
    
   
}

.form-control.success input {
    border: 3px solid #4ECA64;
}

.form-control.error input {
    border: 3px solid #DB5A5A;
}

.form-control.error i.img-error {
    visibility: visible;
}

.form-control.success i.img-success {
    visibility: visible;
}

.form-control.error small{
    color: #DB5A5A;
    visibility: visible;
}

.form-control i {
    position: absolute;
    top: 45px;
    right: 15px;
    visibility: hidden;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 14px;

}

button{
    width: 40%;
    margin: 8px auto 8px;
    padding: 15px 20px;
    border-radius: 20px;
    background-color:#726DFF ;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
 }

 .btn{
    text-align: center;
 }

 button:hover{
    color:#726DFF;
    background-color: white;
    border: 0.8px solid #726DFF ;
    transition: 1s;
    font-weight: bolder;
    font-size: 13px;
   
 }



.fade{
   
    width: 48%;
}
img{
    align-items: center;
    animation: fadeIn 2s linear;
 }

 @keyframes fadeIn{
    from {opacity: 0};
    to {opacity: 2};
}

