@import  url( 'https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap' );

*{
    margin: 0;
    padding: 0;
}

body{
    background-color:white;
    max-width: 100%;
    
}

.container{
    width: vmax;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section{
    width: 49%;
    margin: 0 auto;
    
}

form{
    
    width: 80%;
    position: relative;
    margin: 120px auto ;
    padding: 20px;
    flex-wrap: wrap;
    box-shadow: 1px 1px 1px gray;
    border-radius: 8px;
    background-color: #242933;
}

.form-control {
    margin-top: 30px;
    margin-bottom: 50px;
    padding-bottom: 10px;
    position: relative; 
   
    
    
}

.form-control input {
    border: 2px solid lightslategray;
    border-radius: 15px;
    outline: 0;

    display: inline-block;

    font-size: 14px;

    width: 95%;
    padding: 15px; 
   
}

.form-control input:hover{
    border: 2px solid darkslateblue ;
}

.form-control.success input {
    border: 3px solid #4ECA64;
}

.form-control.error input {
    border: 3px solid #DB5A5A;
}

.form-control.error i.img-error {
    visibility: visible;
}

.form-control.success i.img-success {
    visibility: visible;
}

.form-control.error small{
    color: #DB5A5A;
    visibility: visible;
}

.form-control i {
    position: absolute;
    top: 45px;
    right: 15px;
    visibility: hidden;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 14px;

}

.btn{
    text-align: center;
    margin-top: 30px;

}

 button{
    width: 40%;
    padding: 15px 20px;
    border-radius: 20px;
    background-color:#726DFF ;
    color: white;
    font-weight: bold;
    border: 0.8px solid ;
 }

 button:hover{
    color:#726DFF;
    background-color: white;
    border: 0.8px solid #726DFF ;
    transition: 0.5s;
    font-weight: bolder;
    font-size: 13px;
 }

 .cadastrar{
    margin-top: 15px;
 }

 a{
    text-align: center;
    text-decoration: none;
    color: #726DFF;
 }
 
 a:hover{
    font-weight: bold;
    color: white;
    transition: 1s;
 }

 .fade{
    width: 49%;
   
 }

 img{
    align-items: center;
    animation: fadeIn 2s linear;
 }

 @keyframes fadeIn{
    from {opacity: 0};
    to {opacity: 2};
}






/*


#D5A6C8
#A789CB
#866290
#5C597C
#282E42
*/
